Plugins>Harris Lab, "Serial Section Connected Components", edu.utexas.clm.synapses.segpipeline.plugin.Serial_Section_CC("")
Plugins>Harris Lab, "Test Labels", edu.utexas.clm.synapses.segpipeline.plugin.Sparse_Label_Test("")
Plugins>Harris Lab, "Test Graph Segmentation", edu.utexas.clm.synapses.segpipeline.plugin.Graph_Segmentation_Test("")